<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-logo"></div>
      <div class="footer-links-container">
        <div class="footer-container1">
          <div class="footer-contact">
            <span class="footer-text textStyle"><span>Contacto</span></span>
            <a
              href="mailto:sanavidsacde@gmail.com?subject=Comunicarme con un Asesor de Ventas"
              class="footer-link"
            >
              <span>sanavidsacde@gmail.com</span>
            </a>
            <a href="tel:+595985805600" class="footer-link1">
              <span>+595985 805600</span>
            </a>
          </div>
          <div class="footer-socials">
            <span class="footer-text1">
              <span>¡Síguenos en FACEBOOK!</span>
            </span>
            <div class="footer-icon-group">
              <a
                href="https://www.facebook.com/sanavids.a.medicinaprepaga"
                target="_blank"
                rel="noreferrer noopener"
                class="footer-link2"
              >
                <svg viewBox="0 0 602.2582857142856 1024" class="footer-icon">
                  <path
                    d="M548 6.857v150.857h-89.714c-70.286 0-83.429 33.714-83.429 82.286v108h167.429l-22.286 169.143h-145.143v433.714h-174.857v-433.714h-145.714v-169.143h145.714v-124.571c0-144.571 88.571-223.429 217.714-223.429 61.714 0 114.857 4.571 130.286 6.857z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-separator"></div>
    <span class="footer-text2">
      <span>
        Calle Humaita y Avda. Bernardino Caballero, Área 2, Ciudad del Este,
        Paraguay
      </span>
    </span>
  </footer>
</div>
